.contact {
  width: 100%;
  background-color: var(--color-darkBlue);
  color: white;
  font-family: var(--font-sec);
}

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-content h1 {
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-family: var(--font-pri);
  text-align: center;
}

.contact-des {
  text-align: center;
  margin: 1.5rem 0;
  font-size: 1.3rem;
  color: rgb(0, 166, 166);
  text-transform: capitalize;
}

.contact-content form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--color-footer);
  /* justify-content: center; */
  align-items: start;
  border-radius: 10px;
  max-width: fit-content;
  color: white;
}

.contact-content form p {
  font-size: 1.3rem;
  font-weight: 800;
  margin-bottom: 3px;
}

.contact-content form input {
  width: 100%;
  padding: 1rem;
  background-color: #091f36;
  outline: unset;
  border-radius: 7px;
  border: none;
  margin-bottom: 1rem;
  color: white;
  font-size: 15px;
}

.contact-content form textarea {
  background-color: #091f36;
  border: none;
  border-radius: 7px;
  padding: 1rem;
  font-family: var(--font-extra);
  color: white;
  font-size: 15px;
  width: 45vw;
  outline: unset;
  margin-bottom: 1rem;
}

.contact-content form button{
    align-self: center;
    max-width: fit-content;
    text-align: center;
    background-color: orange;
    color: black;
    padding: 1rem 1.5rem;
    font-weight: 600;
    font-family: var(--font-extra);
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    border: none;
}

@media screen and (max-width: 900) {
  .contact-content h1 {
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
  }
  .contact-des {
    margin-top: 1rem;
    font-size: 1.1rem;
  }

  .contact-content form {
    padding: 1rem;
  }

  .contact-content form p {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 2px;
  }

  .contact-content form input {
    width: 80%;
    padding: 0.6rem;
    margin-bottom: 0.8rem;
    font-size: 13px;
  }

  .contact-content form textarea {
    padding: 0.6rem;
    font-size: 13px;
    width: 100%;
  }

  .contact-content form button{
    padding: 0.7rem;
    font-size: 13px;
  }
}
