.single-project {
  /* height: 30rem; */
  height: 100%;
  width: 100%;
  position: relative;
  max-width: fit-content;
  cursor: pointer;
  border-radius: 10px;
}

.single-project-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.single-project-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 6px;
  top: 4%;
  left: 3.9%;
  gap: 8px;
  height: 91%;
  width: 93%;
  background-color: #00000099;
  overflow: hidden;
  opacity: 0;
}

.single-project-details:hover {
  opacity: 0.9;
}

.single-project-details a {
  padding: 0.8rem;
  font-family: var(--font-sec);
  border-radius: 5px;
  background-color: orange;
  font-weight: 800;
  color: white;
  max-width: max-content;
  max-height: max-content;
}

@media screen and (max-width: 800px) {
  .single-project-details a {
    padding: 0.4rem;
    font-weight: 600;
    color: black;
    max-width: max-content;
    max-height: max-content;
  }
}
